<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>


<div class="jumbotron">
  <h1 class="display-4">Welcome !</h1>
  <p class="lead">Select Your Event and Role<br>

    <select class="custom-select">
      <option selected>Choose Event</option>

    </select>

    <br>
    <br>
    <a href="" class="btn btn-primary">
      Team Mentor
    </a>
    <a href="" class="btn btn-primary">
      Admin
    </a>
    <a href="" class="btn btn-primary">
      judge
    </a>
  </p>

</div>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>
