<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
</head>

<br>
<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Welcome <%= mentorID %>!</h1>
		<p class="lead">Click to see your assigned teams!
			<br>
			<br>

			<div class="form-group">
				<label for="exampleFormControlSelect1">
					Select your Team
				</label>
				<select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>

			<div class="form-group">
				<label for="exampleFormControlSelect1">
					Number of Team Mates
				</label>
				<select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>

			<a href="" class="btn btn-primary">Submit</a>
		</p>
	</div>
</div>
