<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../../partials/head %>
</head>

<br>
<div class="container">
	<div class="jumbotron">
	<p class="lead">
		<div class="form-group">
			<label for="exampleFormControlSelect1">
				Person #1 - Select your favorite
			</label>
			<select class="form-control">
				<option>Team 1</option>
				<option>Team 2</option>
				<option>Team 3</option>
				<option>Team 4</option>
				<option>Team 5</option>
			</select>
		</div>

		<div class="form-group">
			<label for="exampleFormControlSelect1">
				Person #2 - Select your favorite
			</label>
			<select class="form-control">
				<option>Team 1</option>
				<option>Team 2</option>
				<option>Team 3</option>
				<option>Team 4</option>
				<option>Team 5</option>
			</select>
		</div>

		<div class="form-group">
			<label for="exampleFormControlSelect1">
				Person #3 - Select your favorite
			</label>
			<select class="form-control">
				<option>Team 1</option>
				<option>Team 2</option>
				<option>Team 3</option>
				<option>Team 4</option>
				<option>Team 5</option>
			</select>
		</div>

		<div class="form-group">
			<label for="exampleFormControlSelect1">
				Person #4 - Select your favorite
			</label>
			<select class="form-control">
				<option>Team 1</option>
				<option>Team 2</option>
				<option>Team 3</option>
				<option>Team 4</option>
				<option>Team 5</option>
			</select>
		</div>

		<div class="form-group">
			<label for="exampleFormControlSelect1">
				Person #5 - Select your favorite
			</label>
			<select class="form-control">
				<option>Team 1</option>
				<option>Team 2</option>
				<option>Team 3</option>
				<option>Team 4</option>
				<option>Team 5</option>
			</select>
		</div>


		<a href="" class="btn btn-primary">Submit</a>
	</p>
	</div>
</div>
