<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

<header>
    <% include ../../partials/header %>
</header>


<div class="container">
  <div class="row justify-content-sm-center" style="margin-top: 5rem;">
    <label class="col col-sm-6">
      <label for="username">Username</label>
      <input type="text" class="form-control" />
      <br /><br />
      <label for"password">Password</label>
      <input type="password" class="form-control"><br />
      <input type="submit" class="btn-primary btn-block btn-lg" />
    </div>
  </div>
</div>


<footer style="margin-top: 10rem;">
    <% include ../../partials/footer %>
</footer>

</body>
</html>
